.logo {
	font-family: "aclonica";
	position: absolute;
	z-index: 3;
	top: 22px;
	font-size: 30px;
	font-weight: 900;
	left: 10px;
	color: white;
	text-decoration: none;
}

.navigation {
	position: absolute;
	top: 20px;
	right: 30px;
	width: 45%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: 29px;
	z-index: 3;
	a {
		text-decoration: none;
		color: white;
		font-family: "Bowlby One";
		&:hover {
			border-bottom: 4px solid #d50200;
			transition: 0.2s;
		}
	}
}

.heading {
	color: white;
	background-image: linear-gradient(to right, white, rgb(153, 160, 160));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: "Aclonica";
	text-align: center;
	margin: 30px 0;
	font-size: 2.5rem;
}

.projects {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2;
	padding: 80px 20px 40px;
	width: 100%;
	min-height: 100vh;
}

.projectContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1400px;
}

@media(max-width: 1024px){
	.heading {
		font-size: 2.2rem;
		margin: 25px 0;
	}
	.projects {
		padding: 15px;
	}
}

@media(max-width: 768px){
	.logo{
		display: none;
	}
	.navigation {
		display: none;
	}
	.heading {
		font-size: 2rem;
		margin: 20px 0;
	}
	.projects {
		padding: 10px;
		top: 70px;
	}
}

@media(max-width: 480px){
	.heading {
		font-size: 1.7rem;
	}
}
