.layout {
	min-height: 100vh;
	height: 100%;
	display: flex;
	position: relative;

	&__sides {
		width: 50%;
		height: 100%;
		position: fixed;
	}
	&__blackSide {
		background-color: var(--tech-color);
		left: 0;
	}
	&__whiteSide {
		background-color: white;
		right: 0;
	}
}
.glass {
	position: absolute;
	z-index: 2;
	width: 100%;
	background-color: rgba(189, 189, 189, 0.247);
	background: linear-gradient(
			rgba(255, 255, 255, 0.2),
			rgba(255, 255, 255, 0.2)
		),
		linear-gradient(
			to bottom right,
			rgba(255, 255, 255, 0.2),
			rgba(255, 255, 255, 0.1)
		);

	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(11px);
	-webkit-backdrop-filter: blur(11px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	opacity: 0.8;
}
