.contact {
	background-color: #4b4a54;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	height: 100%;
	width: 100%;
	background-image: url("https://i.pinimg.com/736x/10/99/7b/10997bcc1579e17acb61857a84d43507.jpg");
	background-position: center;
	background-size: cover;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: "Kanit";
}
.container .connect {
	margin: 20px;
}
.connect {
	margin: 0px;
}
textarea {
	line-height: 1.2em;
	color: black;
}
.form {
	width: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.inputs {
	display: flex;
	justify-content: space-between;
	margin: 20px 0px;
	width: 100%;
}
.contact-name,
.contact-mail {
	width: 100%;
}
.contact-name input,
.contact-mail input {
	height: 30px;
	width: 75%;
	border-radius: 20px;
	padding-left: 30px;
}
.message {
	margin: 20px 0px;
	width: 100%;
}
.message textarea {
	width: 80%;
	height: 150px;
	padding: 15px 0px 0px 15px;
}
input {
	color: black;
}
.contact-btn {
	color: black;
	background-color: white;
	border: transparent;
	border-radius: 30px;
	width: 100px;
	transition: 0.5s;
}

.contact-btn:hover {
	background-color: rgb(220, 191, 161);
	color: white;
	transition: 0.5s;
}
.contact-more-btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 85%;
	margin: auto;
	padding-top: 25px;
}
.socials {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 15px;
	width: 360px;
	height: fit-content;
	color: white;
}
.social-icon {
	display: flex;
	justify-content: space-between;
	width: 35%;
	list-style: none;
}
.with-me {
	margin-right: 20px;
}
@media (max-width: 880px) {
	.socials {
		/* margin-left: 15px; */
		align-items: center;
		width: 47%;
	}
}
@media (max-width: 780px) {
	.socials {
		margin: 0px auto;
		justify-content: center;
	}
}
@media (max-width: 650px) {
	.socials {
		flex-direction: column;
	}
	.social-icon {
		width: 50%;
	}
	.with-me {
		margin-right: 0px;
	}
}
@media (max-width: 580px) {
	.social-icon {
		width: 60%;
	}
}
@media (max-width: 500px) {
	.touch {
		transform: scale(0.8);
	}
}
@media (max-width: 450px) {
	.social-icon {
		width: 70%;
	}
}
@media (max-width: 400px) {
	.social-icon {
		width: 80%;
	}
}
@media (max-width: 350px) {
	.contact-more-btn .btn {
		transform: scale(0.9);
	}
	.with-me {
		display: none;
	}
	.touch {
		display: none;
	}
}
@media (max-width: 320px) {
	.social-icon {
		width: 100%;
	}
}
