* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	scroll-behavior: smooth;
}

:root {
	--white: #fff;
	--shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--transition: 0.3s ease-in-out all;
	--borderRadius: 0.35rem;
	--borderRadius-2: 17px;
	--letterSpacing: 1px;
	--primary-700: #0c0b26ce;
	--shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
	--tech-color: #868686;
}
a,
button {
	cursor: pointer;
}
.btn {
	cursor: pointer;
	color: black;
	background: white;
	border: transparent;
	border-radius: var(--borderRadius);
	letter-spacing: var(--letterSpacing);
	padding: 0.375rem 0.75rem;
	box-shadow: var(--shadow-1);
	transition: var(--transition);
	text-transform: capitalize;
	align-items: center;
	text-decoration: none;
	text-align: center;
}
.btn:hover {
	background-color: rgba(158, 158, 158, 0.756);
	color: white;
}
