.projectItem {
	height: 350px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	// :nth-child(even) .project-align h1,
	// :nth-child(odd) .project-align:hover h1 {
	// 	color: white;
	// }
	// :nth-child(odd) .project-align h1,
	// :nth-child(even) .project-align:hover h1 {
	// 	color: black;
	// }
	// :nth-child(odd) .project-align,
	// :nth-child(even) .project-align:hover {
	// 	background-image: linear-gradient(to right, white, rgb(153, 160, 160));
	// 	transition: 0.5s;
	// }
	// :nth-child(even) .project-align,
	// :nth-child(odd) .project-align:hover {
	// 	background-image: linear-gradient(to left, white, rgb(153, 160, 160));
	// 	transition: 0.5s;
	// }
	// :nth-child(odd) .arrange {
	// 	flex-direction: row;
	// }
	// :nth-child(even) .arrange {
	// 	flex-direction: row-reverse;
	// }
	&__projectAlign {
		height: 80%;
		width: 85%;
		transition: 0.5s;
		padding: 15px;
		border-radius: var(--borderRadius-2);
		:hover {
			background-image: linear-gradient(to right, white, rgb(153, 160, 160));

			transition: 0.5s;
			transform: scale(1.05);
			color: black;
			h1 {
				transition: 0.5s;
			}
		}
		h1 {
			height: 12%;
			transition: 0.5s;
			font-family: "Aclonica";
		}
		&__arrange {
			display: flex;
			height: 88%;
            border-radius: var(--borderRadius-2);
			> div {
				width: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			&__projectLinkDiv {
				box-shadow: 0px 0px 60px 0px gray;
				transition: all 0.2s 0.1s ease-in-out;
				&__imageContainer {
					border-radius: var(--borderRadius-2);
					height: 160px;
					width: 260px;
					position: relative;
					img {
						border-radius: var(--borderRadius-2);
						width: 100%;
						height: 100%;
					}
					&__overlay {
						width: 100%;
						height: 100%;
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;
						text-align: center;
						background-color: rgba(65, 65, 65, 0.313);
						position: absolute;
						top: 0;
						left: 0;
						transform: scale(0.01);
						transition: all 0.2s 0.1s ease-in-out;
						color: rgb(255, 255, 255);
						visibility: hidden;
						border-radius: var(--borderRadius-2);
					}
					:hover &__overlay {
						transform: scale(1);
						visibility: visible;
					}
				}
			}
			&__projectDescription {
				text-align: center;
				color: white;
				font-family: "Merienda";
				transition: 0.5s;
				&__toolsBtn {
					border-radius: var(--borderRadius);
					padding: 5px;
					font-size: 9px;
					margin-left: 13px;
					color: black;
					border: transparent;
					:hover {
						color: black;
					}
				}
				&__projectBtn {
					border-radius: 6px;
					border: 1px;
					width: fit-content;
					height: fit-content;
					padding: 10px;
					background-color: #ffffff;
					margin-top: 24px;
					transition: 0.5s;
					&__githubLink {
						text-decoration: none;
						transition: 0.5s;
						color: black;
					}
					:hover {
						background-color: black;
						transition: 0.5s;
						&__githubLink {
							color: var(--white);
						}
					}
				}
			}
		}
		:hover &__projectDescription {
			color: black;
			transition: 0.5s;
		}
		:hover &__projectBtn {
			background-color: rgba(69, 81, 81, 0.291);
			transition: 0.5s;
		}
		:hover &__projectBtn a {
			color: var(--white);
		}
		:hover &__projectLink {
			box-shadow: 0px 0px 27px 3px gray;
		}
	}
}

.projectAlign .projectAlign .projectAlign .projectLink:hover {
	box-shadow: 0px 0px 0px gray;
	transition: all 0.2s 0.1s ease-in-out;
}
.column{
	display: flex;
	flex-direction: column;
}
@media(max-width: 800px){
	.projectItem{
		&__projectAlign{
			&__arrange{
				display: flex;
				flex-direction: column;
				align-items: center;
				>div{
					width: 100%;
				}
			}
		}
		margin-bottom: 120px;
	}
}